
body {
    font-family: "Titillium Web";
}

h2 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    line-height: 35px;
}

#dataCity {
    border: 0;
    outline: 0;
    font-size: inherit;
    font-size: inherit;
    font-weight: inherit;
}

#getByCity {
    width: 85%!important;
    max-height: 70vh;
    margin-bottom: 40px;

    position: relative;
    left: 50%;
    translate: -50%;
}